<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.mytaskmanager"
	android:versionCode="1" android:versionName="1.0">
	<application android:icon="@drawable/icon" android:label="@string/app_name" android:name=".controller.ApplicationController"
	android:theme="@android:style/Theme.NoTitleBar">
		<activity android:name=".Main" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	<activity android:name=".ShowTasks"/>
	<activity android:name=".AboutActivity" android:theme="@android:style/Theme.Dialog"/>	
	<activity android:name=".AddUpdateTask" android:theme="@android:style/Theme.Dialog"/>
	<activity android:name=".AddUpdateTaskList" android:theme="@android:style/Theme.Dialog"/>
	<activity android:name=".ShowCompletedTask" android:theme="@android:style/Theme.Dialog"/>
	</application>

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.USE_CREDENTIALS" />	
	<uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
	<uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
</manifest> 